/* Font */
@import url('https://fonts.googleapis.com/css2? familia=Montserrat:wght@400;500;600&display=swap');
/* reset */
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
/* share */
.bg-gradient{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,0.989233193277311) 14%, rgba(8,89,103,1) 34%, rgba(9,113,121,1) 52%, rgba(0,212,255,1) 86%);
}
section{
    position: relative;
    overflow: hidden;
}
.grid{
    width: 90%;
    margin: 0 auto;
    max-width: 900px;
}
.wrapper{
    position: relative;
}
.img-container{
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
    min-height: 280px;
    background-position: center center;
}
.btn-basic{
    margin: 10px 0;
    background: #ff55b7;
    border-radius:  50px;
    border: none;
    color: #fff;
    padding:  20px 70px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 30px;
    transition: .5s all ease;
}
.btn-basic:hover{
    background: #ff86df;
}
/* header */
.imagen-logo{
    width: 60px;
}

/* section first */
.section-first{
    padding-top: 40px;
}
.curt{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 85%;
    z-index: 0;
    transform: skewY(-3deg);
    transform-origin:top left ;
}
.wrapper-first{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-container{
    color: #fff;
}

.sub-heading{
    margin: 10px 0px;
}

/* section secund */
.wrapper-second{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icons-section-second{
    width: 65px;
}
/* section third */
.section-third{
    margin-top: 75px;
}
.curt-reverse{
    height: 100%;
    transform: skewY(5deg);
    transform-origin: top left;
}
.text-container-two{
    color: #484848;
}
/* section fourth */
.section-fourth{
    padding: 75px 0px;
}
/* section fifth */
.section-fifth{
    margin: 50px 0px;
}
.box{
    text-align: center;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.18);
    border-radius: 25px;
}
.price-container{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}
.price-tag{
    font-weight: bold;
    color: #47b0e7;
}
.box-text{
    margin-top: 30px;
    text-align: justify;
    color: #484848;
    font-size: 13px;
}
/* section sext */
.section-sext{
    padding:  7px 0px;
}
.wrapper-sext{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#newletter-form{
    width: 90%;
    max-width: 500px;
}
#newletter-input{
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}
.btn-newletter{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
}
/* footer */
footer{
    margin: 50px 0px 20px;
}
.legal-links-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.legal-link-text{
    color: #ccc;
    text-decoration: none;
    font-size: 12px;
    transition: .5s all ease;
}
.legal-link-text:focus{
    overflow: none;
}
.legal-link-text:hover{
    color: #484848;
}
.rrss-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.rrss-link{
    padding: 2px;
    border-radius: 20px;
    transition: .5s all ease;
}
.rrss-link:hover{
    background: #484848;
}
/* media queries */
@media(min-width: 576px){
    /* section second */
    .icons-section-second{
        width: 95px;
    }
}

@media(min-width:768px){
    /* section first */
    .wrapper-first{
        flex-direction: row;
        justify-content: space-between;
    }
    /* section fifth */
    .box{
        width: 30%;
    }
}